* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background-image: url(/assets/Backgroundimg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.popUp {
  display: none;
  height: 100px;
  width: 100px;
}

.game-container {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  visibility: hidden;
}

.flip-card-outer {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  border: 3px black solid;
  border-radius: 5px;
}

.flip-card-outer:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.flip-card-outer.flip {
  transform: rotateY(180deg);
}

.front-image,
.back-image {
  object-fit: scale-down;
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  background: linear-gradient(90deg, #1500ff, #00ffff, #007bff, #1500ff);
  background-size: 400%;
  animation: animate 25s linear infinite;
  backface-visibility: hidden;
}
.hide {
  visibility: hidden;
}
.front-image {
  transform: rotateY(180deg);
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
